.menu-toggle {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 80px;
  cursor: pointer;
  background-color: rgba(197, 115, 21, 0.883);
  border-bottom-right-radius: 100%;
}

.menu-open,
.menu-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  transition: all 0, 7s cubic-bezier(1, -0.07, 0.1, 1.12);
}

.menu-open {
  transform-origin: -100px -100px;
}
.menu-close {
  transform-origin: -100px -100px;
  transform: rotate(-30deg);
}

.menu-items {
  position: fixed;
  bottom: 0;
  left: 20px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  height: 60px;
  margin-bottom: 40px;
  transform: translateX(-300px);
  transition: all 0.7s cubic-bezier(1, -0.07, 0.1, 1.12);
}
li:nth-child(2) {
  margin-left: 20px;
}
li:nth-child(3) {
  margin-left: 40px;
}

.rotate .menu-items li {
  transform: translateX(0);
}
